body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:15px;
  top:614px;
  width:345px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:12px;
  top:21px;
  width:41px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:252px;
  top:174px;
  width:108px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u11 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:105px;
  top:384px;
  width:167px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u15 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:6px;
  top:25px;
  width:28px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:7px;
  top:28px;
  width:32px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u23 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:28px;
  width:42px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:0px;
  top:282px;
  width:375px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u28 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:28px;
  width:42px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u32 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:27px;
  width:42px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u36 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:338px;
  top:110px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:0px;
  top:271px;
  width:375px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u39 {
  position:absolute;
  left:0px;
  top:479px;
  width:375px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:38px;
  top:622px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:163px;
  top:621px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:292px;
  top:621px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:339px;
  top:31px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u47 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49 {
  position:absolute;
  left:37px;
  top:622px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:162px;
  top:621px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:291px;
  top:621px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u52 {
  position:absolute;
  left:339px;
  top:29px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u55 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:302px;
  top:204px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:37px;
  top:420px;
  width:297px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u60 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:251px;
  top:173px;
  width:108px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u64 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:251px;
  top:176px;
  width:108px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u68 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
}
#u71 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
  visibility:hidden;
  background-image:none;
}
#u69_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:203px;
}
#u73 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:508px;
  touch-action:pan-y;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u76 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u74_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u78 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u74_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u80 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u74_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u82 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  visibility:hidden;
  background-image:none;
}
#u74_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u84 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:338px;
  top:30px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86 {
  position:absolute;
  left:56px;
  top:252px;
  width:73px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  position:absolute;
  left:38px;
  top:623px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:163px;
  top:622px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  position:absolute;
  left:292px;
  top:622px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  position:absolute;
  left:23px;
  top:370px;
  width:48px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u92 {
  position:absolute;
  left:305px;
  top:28px;
  width:30px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:307px;
  top:29px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:11px;
  top:21px;
  width:41px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
